In [1]:
import pandas as pd

In [2]:
pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.0.3-py3-none-any.whl (43 kB)
     -------------------------------------- 43.7/43.7 kB 531.8 kB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.0.3
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pymysql

In [4]:
connection=pymysql.connect(host="localhost",
                          user="root",
                          password="jaura@6593",
                          database="REGex")

In [5]:
df=pd.read_sql_query("select * from python",connection)

C:\Users\HP\AppData\Local\Temp\ipykernel_14928\2605771711.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df=pd.read_sql_query("select * from python",connection)

In [6]:
df

   id  studname
0   1  rajendra